In [3]:
print("Hello")

Hello

In [4]:
myVar = "Hello"
my_Var = "Hello"
_myVar = "Hello"
_my_Var = "Hello"

In [5]:
print(myVar)
print(my_Var)
print(_myVar)
print(_my_Var)

Hello
Hello
Hello
Hello

In [7]:
def hello():
    a=10
    print(a)
    return
hello()

10

In [8]:
a = "I am Global"
def hello():
    a = "I am Local"
    print(a)
    return

print(a)
hello()

I am Global
I am Local

In [ ]:
x=5
x=x+3
y=10
y=y*3
z="Hello"
a="What?"
print(x+y)
print(z+", "+a)
print(y != z)

In [ ]:
print(x>6 and x<100)
print(x>6 or x<100)
print(not(x>6 and x<100))

In [ ]:
x=int(input("Enter the value of x : "))
y=int(input("Enter the value of y : "))
z=x*y
print(z)

In [ ]:
x = "Akshay"
x.lower()
x.upper()

In [ ]:
x = "i am a title"
x.title()

In [ ]:
x = "   remove spaces     "
x.lstrip()
x.rstrip()
x.strip()

In [ ]:
# way 1 : default
string1 = "{} {} {}".format("python", "programming", "language")
# way 2 : index
string2 = "{1} {0} {2}".format("python", "programming", "language")
# way 3 : position
string3 = "{c} {b} {a}".format(a="python", b="programming", c="language")
print(string1)
print(string2)
print(string3)

In [ ]:
name = "Akshay"
course = "code unnati program"
print(f"Hello, my name is {name} and i registed for {course}.")

In [ ]:
str1 = "Akshay"
print(str1)
str1[0]

In [ ]:
str1[2]

In [ ]:
str1[0:2]

In [ ]:
str1[-1]

In [ ]:
str1[-3:-1]

In [ ]:
list1 = ["Akshay", 20, "surat", 395006]
print(list1)
print(type(list1))
len(list1)

In [ ]:
print(list1[0])
print(list1[0:])
print(list1[0:3])
print(list1[0::2])
print(list1[0::3])

In [ ]:
print(list1[0][0])
print(list1[0][0:])
print(list1[0][0:4])
print(list1[0][0::2])

In [ ]:
fruits = ['banana', 'apple', 'orange']
print(fruits)
fruits.append("cherry")
print(fruits)

In [ ]:
fruits = ['banana', 'apple', 'orange']
car = ['BMW', 'volvo', 'tata']
fruits.extend(car)
print(fruits)

In [ ]:
fruits = ['banana', 'apple', 'orange']
fruits.insert(1,"cherry")
print(fruits)

fruits.pop()
print(fruits)

fruits.pop(1)
print(fruits)

In [ ]:
fruits1 = ['banana', 'apple', 'orange', 'cherry']
fruits1.remove("banana")
print(fruits1)

fruits2 = ['banana', 'apple', 'banana', 'orange', 'cherry']
fruits2.remove("banana")
print(fruits2)

In [ ]:
str1 = "I am split method"
print(str1)
str1.split()

In [ ]:
tup1 = ('Akshay', 20, 'surat', 395006)
print(tup1)
print(type(tup1))

print(tup1[2])

print(tup1[0:2])

In [ ]:
tup1 = ('banana', 'apple', 'orange', 'cherry')
tup2 = ('BMW', 'volvo', 'tata')

tup3 = tup1 + tup2
print(tup3)

tup3 = tup2 + tup1
print(tup3)

tup3 = tup1*2
print(tup3)

# specific element in tuple can't delete
# del tup3[2]

# Whole tuple can be delete
del tup3

In [ ]:
numbers = (1, 3, 5, 32, 4, 5, 4, 6, 43, 65, 4, 65, 34, 45)

x = numbers.count(4)
print(x)

y = numbers.index(4)
print(y)

In [ ]:
car = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year" : 2010
}
print(car)
print(type(car))

print(car["model"])
print(car.keys())
print(car.values())
print(car.items())
car.update({"year": 2012})
print(car)

car["color"] = "black"
print(car)

In [ ]:
car = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year" : 2010,
    "color" : "balck"
}
print(car)

car.pop("model")
print(car)

In [ ]:
subject1 = {'Physics', 'Hindi', 'English', 'Hindi', 'Physics', 'Hindi'}
subject2 = {'Physics', 'Chemistry', 'English', 'Hindi', 'Physics', 'Hindi'}
print(subject1)
print(subject2)

print(type(subject1))
print(type(subject2))

print(subject1 | subject2)
print(subject1.union(subject2))

print(subject1.intersection(subject2))

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(len(fruits))
print(len(fruits[0]))

In [ ]:
theater = {
    "Movie": "Pusshpa",
    "Actor": "Allu Arjun",
    "Year": 2023
}
sorted(theater)

In [ ]:
numbers = (1, 3, 5, 32, 4, 5, 4, 6, 43, 65, 4, 65, 34, 45)

print(max(numbers))
print(min(numbers))
print(sum(numbers))

In [ ]:
dir(list)

In [ ]:
dir(str)

In [ ]:
n = 10
print(type(n))
print(n)

n = float(n)
print(type(n))
print(n)

n = str(n)
print(type(n))
print(n)

In [1]:
fruits_list = []
fruits_list.append("apple")
fruits_list.append("banana")
fruits_list.append("orange")
fruits_list.append("grape")
fruits_list.append("mango")
print(fruits_list)

print(fruits_list[-1])
print(fruits_list[0:3])

fruits_list[2]="pear"
print(fruits_list)

if 'apple' in fruits_list:
    print("yes")
    
fruits_list.pop()
print(fruits_list)
fruits_list.remove("banana")
print(fruits_list)

additional_fruits = ["watermelon", "kiwi"]

fruits_list.extend(additional_fruits)
print(fruits_list)

print(sorted(fruits_list))

fruits_list.count("kiwi")

['apple', 'banana', 'orange', 'grape', 'mango']
mango
['apple', 'banana', 'orange']
['apple', 'banana', 'pear', 'grape', 'mango']
yes
['apple', 'banana', 'pear', 'grape']
['apple', 'pear', 'grape']
['apple', 'pear', 'grape', 'watermelon', 'kiwi']
['apple', 'grape', 'kiwi', 'pear', 'watermelon']

1

In [2]:
def add_number(num1,num2):
    result = num1+num2
    return result
print(add_number(5,7))

12

In [6]:
number =10


if number>0:
    print("number is posituve")

print(" the statement is easy")

number is posituve
 the statement is easy

In [9]:
number=10

if number>0:
    print('number is positive')
else:
    print('number is nagative') 

print('the statement is always excuted')

number is positive
the statement is always excuted

In [4]:
number =int(input("enter NUmber"))

if(number>0):
    print('number is positive')
elif number == 0:
    print('zero')
else:
    print('number is nagative')

print('the number is alwaye excuted')

number is positive
the number is alwaye excuted

In [5]:
counter =0

while counter < 3:
    print('hellow world')
    counter = counter +1

hellow world
hellow world
hellow world

In [6]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [7]:
for i in range(34,10,-2):
    print(i)

34
32
30
28
26
24
22
20
18
16
14
12

In [10]:
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [13]:
fruits =['apple', 'kivi', 'banana']
for fruit in fruits:
    print(fruit)

apple
kivi
banana

In [14]:
i=1
while i< 9:
    print(i)
    if i==4:
        break
    i +=1

1
2
3
4

In [15]:
i=0
while i<10:
    i +=1
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [29]:
def calculate_total_bill(items,prices):

    if len(items) !=len(prices):
        return "error: the nuimber of item and prices should be the same."
    total_bill=0
    
    for p in prices:
        discount_items =price_list*0.1
        
        total_bill = p+total_bill

    return total_bill
    
items_list=["apple","milk", "banana", "bread"]
price_list =[1.2,0.6,3.2,0.7]
total_bill_amount =calculate_total_bill(items_list,price_list)
print("total bill:",total_bill_amount)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
def calculate_discounted_bill( original_prices, discount_ item):
    discount_bill=0
    for i in range(len(original_prices)):
        id discount_items[i]:

In [31]:
x = lambda a:a+10
print(x(5))

15

In [32]:
x =lambda a, b: a*b
print(x(5,6))

30

In [33]:
try:
    numerator =int(input("enter a number:"))
except ValueError:
    print()