In [3]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [6]:
ser = pd.Series()
print(ser)

data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print(ser)

Series([], dtype: object)
0    g
1    e
2    e
3    k
4    s
dtype: object

In [7]:
list_car = ['BMW', 'TATA', 'AUDI']
ser = pd.Series(list_car)
print(ser)

0     BMW
1    TATA
2    AUDI
dtype: object

In [8]:
list_car = ['BMW', 'TATA', 'AUDI']
ser = pd.Series(list_car)
print(ser[1])

TATA

In [ ]:
list_car = ['BMW', 'TATA', 'AUDI']
ser = pd.Series(list_car)
print(ser)

In [9]:
data = pd.read_csv("airlines.csv")
print(data.describe())

        Time.Month    Time.Year  Statistics.# of Delays.Carrier  \
count  4408.000000  4408.000000                     4408.000000
mean      6.578947  2009.243421                      574.632486
std       3.457890     3.667475                      329.616475
min       1.000000  2003.000000                      112.000000
25%       4.000000  2006.000000                      358.000000
50%       7.000000  2009.000000                      476.000000
75%      10.000000  2012.000000                      692.000000
max      12.000000  2016.000000                     3087.000000

       Statistics.# of Delays.Late Aircraft  \
count                           4408.000000
mean                             789.078947
std                              561.798420
min                               86.000000
25%                              425.000000
50%                              618.500000
75%                              959.000000
max                             4483.000000

       Statistics.# of Delays.National Aviation System  \
count                                      4408.000000
mean                                        954.580309
std                                         921.907801
min                                          61.000000
25%                                         399.000000
50%                                         667.500000
75%                                        1166.000000
max                                        9066.000000

       Statistics.# of Delays.Security  Statistics.# of Delays.Weather  \
count                      4408.000000                     4408.000000
mean                          5.575544                       78.216878
std                           6.007046                       75.181726
min                          -1.000000                        1.000000
25%                           2.000000                       33.000000
50%                           4.000000                       58.000000
75%                           7.000000                       98.000000
max                          94.000000                      812.000000

       Statistics.Carriers.Total  Statistics.Flights.Cancelled  \
count                4408.000000                   4408.000000
mean                   12.253403                    213.558076
std                     2.289861                    288.873477
min                     3.000000                      3.000000
25%                    11.000000                     58.000000
50%                    12.000000                    123.000000
75%                    14.000000                    250.000000
max                    18.000000                   3680.000000

       Statistics.Flights.Delayed  Statistics.Flights.Diverted  \
count                 4408.000000                  4408.000000
mean                  2402.000454                    27.880898
std                   1710.947613                    36.356399
min                    283.000000                     0.000000
25%                   1298.750000                     8.000000
50%                   1899.000000                    15.000000
75%                   2950.000000                    32.000000
max                  13699.000000                   442.000000

       Statistics.Flights.On Time  Statistics.Flights.Total  \
count                 4408.000000               4408.000000
mean                  9254.420826              11897.860254
std                   5337.214211               6861.691876
min                   2003.000000               2533.000000
25%                   5708.750000               7400.000000
50%                   7477.000000               9739.500000
75%                  10991.500000              13842.500000
max                  31468.000000              38241.000000

       Statistics.Minutes Delayed.Carrier  \
count                         4408.000000
mean                         35021.369782
std                          24327.721037
min                           6016.000000
25%                          19530.750000
50%                          27782.000000
75%                          41606.000000
max                         220796.000000

       Statistics.Minutes Delayed.Late Aircraft  \
count                               4408.000000
mean                               49410.274955
std                                38750.017050
min                                 5121.000000
25%                                25084.250000
50%                                37483.000000
75%                                59951.250000
max                               345456.000000

       Statistics.Minutes Delayed.National Aviation System  \
count                                        4408.000000
mean                                        45077.107985
std                                         57636.745683
min                                          2183.000000
25%                                         14389.000000
50%                                         25762.000000
75%                                         50362.000000
max                                        602479.000000

       Statistics.Minutes Delayed.Security  Statistics.Minutes Delayed.Total  \
count                          4408.000000                       4408.000000
mean                            211.769737                     135997.535163
std                             257.174789                     113972.276370
min                               0.000000                      14752.000000
25%                              65.000000                      65444.750000
50%                             141.000000                     100711.000000
75%                             274.000000                     164294.750000
max                            4949.000000                     989367.000000

       Statistics.Minutes Delayed.Weather
count                         4408.000000
mean                          6276.982759
std                           6477.417169
min                             46.000000
25%                           2310.750000
50%                           4298.500000
75%                           7846.000000
max                          76770.000000

In [11]:
list2 = ['Akshay', 'Harsh', 'Sahaj', 'Darshit', 'Mitul']
df = pd.DataFrame(list2)
print(df)
print(df[0][0])

         0
0   Akshay
1    Harsh
2    Sahaj
3  Darshit
4    Mitul
Akshay

In [16]:
data = {
    'Name' : ['Akshay', 'Harsh', 'Sahaj', 'Darshit', 'Mitul'],
    'Age' : [20, 50, 30, 10, 500]
}
df = pd.DataFrame(data)
print(df)

      Name  Age
0   Akshay   20
1    Harsh   50
2    Sahaj   30
3  Darshit   10
4    Mitul  500

In [20]:
data = pd.DataFrame({
    'Name' : ['Akshay', 'Harsh', 'Sahaj', 'Darshit', 'Mitul'],
    'Age' : [20, 50, 30, 10, 500],
    'Salary' : [99999999, 200000, 9388284, 4893002, 843939 ]},
    index = ["Hello", "Nothing", "What", "Who", "Why"]
)
print(data)

            Name  Age    Salary
Hello     Akshay   20  99999999
Nothing    Harsh   50    200000
What       Sahaj   30   9388284
Who      Darshit   10   4893002
Why        Mitul  500    843939

In [24]:
data.reindex(['A', 'B', 'C', 'D', 'E'])

  Name  Age  Salary
A  NaN  NaN     NaN
B  NaN  NaN     NaN
C  NaN  NaN     NaN
D  NaN  NaN     NaN
E  NaN  NaN     NaN

In [26]:
data1 = data.reindex(['A', 'B', 'C', 'D', 'E'])
print(data1)

  Name  Age  Salary
A  NaN  NaN     NaN
B  NaN  NaN     NaN
C  NaN  NaN     NaN
D  NaN  NaN     NaN
E  NaN  NaN     NaN

In [32]:
data2 = data1.reindex(['AB', 'BC', 'CD', 'DE', 'EF'], fill_value=100)
print(data2)

   Name    Age  Salary
AB  100  100.0   100.0
BC  100  100.0   100.0
CD  100  100.0   100.0
DE  100  100.0   100.0
EF  100  100.0   100.0

In [39]:
unsorted_df = pd.DataFrame(np.random.randn(10,3), index=[3,6,5,4,7,9,8,2,1,0], columns=['col1', 'col2', 'col3'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index()
print(sorted_df)

       col1      col2      col3
3 -1.179799 -1.442270  1.379160
6 -0.172308  0.221572  0.414815
5  0.538292  0.743426 -0.202213
4 -0.262007  0.383573 -1.030382
7  0.598001  0.876607 -0.453098
9 -0.216294  0.784727 -1.066706
8 -0.197479  0.667623  1.412536
2 -1.694602 -0.659798 -0.182372
1 -1.357993  1.148171 -0.432001
0  3.020592 -1.926834  0.247395
       col1      col2      col3
0  3.020592 -1.926834  0.247395
1 -1.357993  1.148171 -0.432001
2 -1.694602 -0.659798 -0.182372
3 -1.179799 -1.442270  1.379160
4 -0.262007  0.383573 -1.030382
5  0.538292  0.743426 -0.202213
6 -0.172308  0.221572  0.414815
7  0.598001  0.876607 -0.453098
8 -0.197479  0.667623  1.412536
9 -0.216294  0.784727 -1.066706

In [42]:
unsorted_df = pd.DataFrame(np.random.randn(10,3), index=[3,6,5,4,7,9,8,2,1,0], columns=['col2', 'col1', 'col3'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(axis=1)
print(sorted_df)

       col2      col1      col3
3 -0.189253 -1.188208  1.005897
6  2.419778  2.511056  0.517948
5 -1.711851  1.231678 -0.024473
4  0.028393  0.868784  2.350112
7 -0.159178  0.779106 -1.744612
9  0.673927 -0.723076  0.990865
8  0.949644 -0.867053  0.961047
2  0.570010 -0.058410 -1.092931
1 -1.380313 -0.630164  0.988445
0 -0.230915  1.557145 -1.324545
       col1      col2      col3
3 -1.188208 -0.189253  1.005897
6  2.511056  2.419778  0.517948
5  1.231678 -1.711851 -0.024473
4  0.868784  0.028393  2.350112
7  0.779106 -0.159178 -1.744612
9 -0.723076  0.673927  0.990865
8 -0.867053  0.949644  0.961047
2 -0.058410  0.570010 -1.092931
1 -0.630164 -1.380313  0.988445
0  1.557145 -0.230915 -1.324545

In [41]:
unsorted_df = pd.DataFrame(np.random.randn(10,3), index=[3,6,5,4,7,9,8,2,1,0], columns=['col1', 'col2', 'col3'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(axis=0)
print(sorted_df)

       col1      col2      col3
3 -0.484896  0.455109  0.120980
6 -0.283800  0.578395  0.310730
5 -0.160327 -1.615671  0.129050
4 -0.268548  1.356291  1.216693
7 -0.841012 -0.283366 -0.382317
9  0.570176  2.271677  0.034852
8 -0.634876  0.499496 -1.346014
2 -0.050101 -0.577253  0.035047
1 -0.882574 -1.174080 -0.670533
0 -1.434159  0.755598 -0.045465
       col1      col2      col3
0 -1.434159  0.755598 -0.045465
1 -0.882574 -1.174080 -0.670533
2 -0.050101 -0.577253  0.035047
3 -0.484896  0.455109  0.120980
4 -0.268548  1.356291  1.216693
5 -0.160327 -1.615671  0.129050
6 -0.283800  0.578395  0.310730
7 -0.841012 -0.283366 -0.382317
8 -0.634876  0.499496 -1.346014
9  0.570176  2.271677  0.034852

In [44]:
unsorted_df = pd.DataFrame({'col1' : [2,1,1,1], 'col2' : [1,2,3,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values(by='col1')
print(sorted_df)

   col1  col2
0     2     1
1     1     2
2     1     3
3     1     4
   col1  col2
1     1     2
2     1     3
3     1     4
0     2     1

In [45]:
unsorted_df = pd.DataFrame({'col1' : [2,1,1,1], 'col2' : [1,2,3,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values(by='col2')
print(sorted_df)

   col1  col2
0     2     1
1     1     2
2     1     3
3     1     4
   col1  col2
0     2     1
1     1     2
2     1     3
3     1     4

In [50]:
s = pd.Series(['Akshay', 'Harsh', 'Sahaj', 'Darshit', 'Mitul'])
print(s.str.lower())
print(s.str.upper())

0     akshay
1      harsh
2      sahaj
3    darshit
4      mitul
dtype: object
0     AKSHAY
1      HARSH
2      SAHAJ
3    DARSHIT
4      MITUL
dtype: object

In [65]:
data = {
    'Maths' : [10, None, 35, 54, 55],
    'Science' : [12, 43, 65, None, 76],
    'English' : [23, None, 65, 76, 87],
    'Computer' : [76, 87, 98, 65, 67]
}

df = pd.DataFrame(data)
print('DataFrame = \n', df)
print()

print('Sum = \n', df.sum())
print()

print('count= \n', df.count())
print()

print('max= \n', df.max())
print()

print('min= \n', df.min())
print()

DataFrame =
    Maths  Science  English  Computer
0   10.0     12.0     23.0        76
1    NaN     43.0      NaN        87
2   35.0     65.0     65.0        98
3   54.0      NaN     76.0        65
4   55.0     76.0     87.0        67

Sum =
 Maths       154.0
Science     196.0
English     251.0
Computer    393.0
dtype: float64

count=
 Maths       4
Science     4
English     4
Computer    5
dtype: int64

max=
 Maths       55.0
Science     76.0
English     87.0
Computer    98.0
dtype: float64

min=
 Maths       10.0
Science     12.0
English     23.0
Computer    65.0
dtype: float64